body {
    font-family: Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #6679ff;
  }
  
  table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #6679ff;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  td, th {
    padding: 12px 16px;
    border: 1px solid white;
    text-align: left;
  }
  
  a {
    color: white;
    text-decoration: underline;
  }
  
  a:hover {
    color: #ffc;
  }