body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #6679ff;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  td, th {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
  }
  
  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  
  nav {
    background-color: #5566cc;
    text-align: center;
  }
  
  nav a:hover {
    background-color: #4455aa;
  }
  img {
    display: block;
    margin: auto;
  }  